<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="nav-brand">
                <img src="./assets/images/logo.png" class="me-3" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/play" routerLinkActive="active">Play</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-secondary mx-2" routerLink="/account/register" routerLinkActive="active">
                            Create account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary" routerLink="/account/login" routerLinkActive="active">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>